* {
  box-sizing: border-box;
}
html {
  box-sizing: inherit;
}

body {
  background-color: #111;
  color: #eee;
}
a {
  color: inherit;
  margin-bottom: 15px;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
  border: none;
  color: #eee;
  padding: 10px 20px;
  background-color: #333;
}
.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hidden {
  display: none;
}
.box {
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
}
.guessBoxWrapper {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(10, 30px);
}
.title {
  text-align: center;
  font-size: 30px;
}